.img{
    background-image: url(images/unnamed.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    background-position: top;
    
}

body, html{
    height: 100%;
    background-color: #000000;
}
